apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ss-notifier-web.name" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "ss-notifier-web.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.web.replicaCount }}
  selector:
    matchLabels:
      {{- include "ss-notifier-web.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "ss-notifier-web.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.imagePullSecrets }}
        - name: {{ . }}
        {{- end }}
      {{- end }}
      containers:
      - name: web
        image: {{ include "ss-notifier-web.webImage" . }}
        imagePullPolicy: {{ .Values.web.image.pullPolicy }}
        envFrom:
        - secretRef:
            name: ss-notifier-web-env
        ports:
        - name: http
          containerPort: 3000
          protocol: TCP
        resources:
          requests:
            cpu: 200m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi

