apiVersion: v1
kind: Service
metadata:
  name: {{ include "ss-notifier-web.name" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "ss-notifier-web.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "ss-notifier-web.selectorLabels" . | nindent 4 }}

